/* Base Styles */

:root {
    font-size: 11px;
}
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    
}

img {
    display: block;
}
 
/* below is all added*/ 

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.profile-bio {
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 100px;
    align-self: flex-start;
    font-size: larger;   
}
.profile-stat-count {
    align-self: flex-end;
    padding: 2px;
}

.profile-real-name {
    align-self: flex-start;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 50px;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px; 
} 
.gallery {
    padding: 0px;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);   
}
.gallery-item img {
    position: relative;
    width: 280px;
    height: 280px;
    object-fit: contain;
}
