/* Base Styles */

:root {
    font-size: 12px;
}
body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
img {
    display: block;
}

/* below is all custom*/ 

.container {
    max-width: 9000px;
    margin: 0 auto;
    input {
        display: none;
    }
}

@media (min-width: 700px) {
    .container input {
        display: flex;
    }
}

/* Profile */

.profile-image {
    display: flex;
    flex-direction: column;
    max-width: 930px;
    height: 100%;
}
.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}   

.profile-image img {
    width: 200px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 50px;
    border: 5px solid transparent;
    background:linear-gradient(45deg, #5851db, #833ab4, #e1306c, #fd1d1d, #ff3434); /* I tried and tried but couldnt quite figure out how to make the circle appear around
    the profile pic, as if a story had been posted, so I just made the background color the Instagram logo colors instead */
}

.profile-bio {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.1;
    align-self: center;
    margin-right: 100px;
}
 h1 {
    padding: 10px;
}

.btn-profile-edit-btn {
    display: inline-block;
    flex-wrap: wrap;
    font-size: 12px;
    max-width: 100px;
    border: 10px transparent;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
}

/* Profile buttons */

.btn-profile-settings-btn {
    font-size: 12px;
    max-width: 100px;
    border: 10px transparent;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

.btn-profile-settings-btn:hover, .btn-profile-edit-btn:hover {
    background-color: #c0b4b4;
}

.btn-profile-settings-btn, .btn-profile-edit-btn {
    transition-duration: 0.4s;
}
.btn-profile-settings-btn:active, .btn-profile-edit-btn:active {
    background-color: #9e9e9e;
    box-shadow: 0 5px #666;
    transform: translateX(4px);
}

/* end of buttons */

.profile-stats {
    display: inline-block;
    line-height: 1.4;
    gap: 50px;
    padding: 20px;
    margin-right: 50px;
    }

.profile-real-name, .profile-stat-count {
    font-weight: bold;
    }


/* Gallery*/

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 700px;
    margin: 4rem auto;
    input {
        display: none;
    }
}

.gallery img {
    width: 100%;
    object-fit: contain;
    height: 100%;
    aspect-ratio: 4/4;
    background-color: #e1dfdf;  /* I added a background color because there are varying image sizes, and some have too much white space 
    behind them because of this. The object-fit 'cover' crops some images, which is why I didn't use that. But I wanted everything to look intentional,
    so I added the soft background color as a sort of optical illusion to make the eye believe theyre all the same size */
}

.gallery-item {
    position: relative;
    margin: auto;
    color: white; 
}

.gallery-item:hover .gallery-item-info, .gallery-item:focus .gallery-item-info {
    position: absolute;
    top: 0; 
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    display: none;
}

.gallery-item-type {
    position: absolute;
    margin-bottom: 10px;
    font-size: 5px;
    text-shadow: 0.2rem 0.2rem 0.2rem #0000001a;
}

.fa-clone, .fa-comment {
    transform: rotateY(180deg);
}

.visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

@media (min-width: 700px) {
    .gallery input {
        display: block;
}

/* loader */

.loader {
    width: 40px;
    height: 40px;
    border: 4px solid #b9b9b9;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 45%;
    animation: loader 500ms linear infinite;
}

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}