/* Base Styles */

:root {
    font-size: 12px;
    height: 90%; /* unsure if this has any effect*/
}
body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
img {
    display: block;
    
}
/* below is all custom*/ 

/* Profile */
/*
.profile {
    max-width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.profile-image {
    float: left;
}
.profile-user-settings {
    align-self: center;
    margin-left: 80%;
    font-family: sans-serif;
    
}
.profile-bio {
    align-self: center;
    padding: 20px;
    font-size: larger;
}


/*ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 50px;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px; 
} */

.profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 100px;
    max-width: 930px;
    height: 100%;
    justify-content: center;
    align-items: center;
    input {
        display: none;
    }
}
@media (min-width: 700px) {
    .profile input {
        display: block;
    }
}
.profile-image img {
    float: left;
    width: 200px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 50px;
    border: 5px solid transparent;
    background:linear-gradient(45deg, #5851db, #833ab4, #e1306c, #fd1d1d, #ff3434); /* I tried and tried but couldnt quite figure out how to make the circle appear around
    the profile pic, as if a story had been posted, so I just made the background color the Instagram logo colors instead */ 
}

.profile-user-settings {
    display: flex;
    
}
h1 {
    align-self: flex-end;
    padding: 10px;
}
.profile-real-name, .profile-stat-count {
    font-weight: 600;
}
.profile-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.profile-stats  > ul {
    align-self: center;
}
.btn-profile-edit-btn {
    font-size: 12px;
    max-width: 100px;
    border: 10px transparent;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.btn-profile-settings-btn {
    font-size: 12px;
    max-width: 100px;
    border: 10px transparent;
    border-radius: 10px;
}
.profile-bio {
    font-size: 15px;
    font-weight: 400;
}

/* Gallery*/

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 700px;
    margin: 4rem auto;
    input {
        display: none;
    }
}

.gallery img {
    width: 100%;
    object-fit: contain;
    height: 100%;
    aspect-ratio: 4/4;
    background-color: #e1dfdf;  /* I added a background color because there are varying image sizes, and some have too much white space 
    behind them because of this. The object-fit 'cover' crops some images, which is why I didn't use that. But I wanted everything to look intentional,
    so I added the soft background color as a sort of optical illusion to make the eye believe theyre all the same size */
}

.gallery-item {
    position: relative;
    margin: auto;
    color: white; 
}

.gallery-item:hover .gallery-item-info, .gallery-item:focus .gallery-item-info {
    position: absolute;
    top: 0; 
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    display: none;
}

.gallery-item-type {
    position: absolute;
    margin-bottom: 10px;
    font-size: 5px;
    text-shadow: 0.2rem 0.2rem 0.2rem #0000001a;
}

.fa-clone, .fa-comment {
    transform: rotateY(180deg);
}
.visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

@media (min-width: 700px) {
    .gallery input {
        display: block;
}

/* loader */

.loader {
    width: 40px;
    height: 40px;
    border: 4px solid #b9b9b9;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 45%;
    animation: loader 500ms linear infinite;
}

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}